/* ----------------------------------------------*/
/* 12.5 Footer Section				 			 */
/* ----------------------------------------------*/
footer .image-divider.fixed-height{
	height:550px;
}

#thank-you{
	text-align:center; 
	color:#FFF; 
	font-family: 'Pacifico';
	-ms-transform: rotate(-10deg); 
	-webkit-transform: rotate(-10deg); 
	transform: rotate(-10deg);
	padding-right:30px;
	margin-top:40px;
	margin-bottom:25px;
}

#thank{
	font-size:55px; 
	line-height:45px
}

#you{
	font-size:55px; 
	line-height:45px;
}

#footer-couple-name{
	font-family: 'Oswald', sans-serif; 
	font-size:20px; 
	color:#FFF; 
	letter-spacing:3px; 
	margin-top:10px;
}
