/*===============================================*/
/* 06. MAIN-SLIDER					 		 	 */
/*===============================================*/
#main-slider {
  margin: 0;
  padding: 0;
  position: relative;
}

/* ----------------------------------------------*/
/* 06.1 Main Slider Height					     */
/* ----------------------------------------------*/
/* #main-slider.fullscreen - script.js			 */

#main-slider.fixed-height {
  position: relative;
  height: 625px;
}

/* ----------------------------------------------*/
/* 06.2 Main Slider Flexslider			  		 */
/* ----------------------------------------------*/
#main-slider.flexslider {
  border: none;
}

#main-slider .slides,
#main-slider.flexslider .slides li {
  position: relative;
  height: inherit;
  width: 100%;
  overflow: hidden;
}

#main-slider.flexslider .flex-viewport {
  position: relative;
  height: inherit;
}

/* 06.2.1 Main Slider Flexslider Control Nav & Paging */
/* ----------------------------------------------*/
#main-slider .flex-control-nav,
.flex-control-paging {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  z-index: 4;
}

#main-slider.flexslider .flex-direction-nav .flex-prev {
  left: 0px;
}
#main-slider.flexslider .flex-direction-nav .flex-next {
  right: 0px;
  text-align: right;
}
#main-slider.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 100px;
}
#main-slider.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 100px;
}

#main-slider .flex-direction-nav a {
  z-index: 4;
  line-height: 40px;
}

/* ----------------------------------------------*/
/* 06.5 Main Slider Title					     */
/* ----------------------------------------------*/

/* 06.5.1 Outter Wrapper */
/* ----------------------------------------------*/
.slide-title-outter-wrapper {
  position: absolute;
  width: 100%;
  height: inherit;
  left: 0;
  z-index: 3;
  overflow: hidden;
}

/* 06.5.2 Inner Wrapper */
/* ----------------------------------------------*/
.slide-title-inner-wrapper {
  width: 1170px;
  height: inherit;
  margin: 0 auto;
  display: table;
}

@media screen and (max-width: 1200px) {
  .slide-title-inner-wrapper {
    width: 100%;
  }
}

/* ----------------------------------------------*/
/* 06.3 Main Slider Slide-Image		  		 	 */
/* ----------------------------------------------*/
.carousel-container {
  height: 100%;
}

.slide-image {
  max-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #fff;
  filter: brightness(0.65);
  -webkit-filter: brightness(0.65);
}

.image-1{
	background-image: url('assets/images/banner-1.JPG');
}
.image-3{
	background-image: url('assets/images/banner-3.JPG');
}

@media (max-width: 768px) {
	.image-3{
		background-image: url('assets/images/banner-mobile-3.png');
	}
  }
  

/* 06.5.3 Title Wrapper */
/* ----------------------------------------------*/
.slide-title {
  display: table-cell;
  text-align: center;
  color: #fff;
}

.slide-title h1,
.slide-title h2,
.slide-title h3,
.slide-title h4,
.slide-title h5,
.slide-title h6 {
  color: #fff;
}

/* 06.5.4 Title Alignment */
/* ----------------------------------------------*/
.slide-title.align-middle {
  vertical-align: middle;
}
.slide-title.align-top {
  vertical-align: top;
  /*padding-top:100px;*/
}
.slide-title.align-bottom {
  vertical-align: bottom;
  /*padding-bottom:0px;*/
}

/* 06.5.6 Save The Date Title */
/* ----------------------------------------------*/
#save-the-date {
  font-family: "Pacifico", cursive;
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
  transform: rotate(-10deg);
  padding-top: 100px;
  padding-right: 50px;
  margin-bottom: 20px;
}

#save {
  font-size: 75px;
  line-height: 50px;
}

#the-date {
  font-size: 62px;
}

#date {
  font-size: 47px;
  line-height: 40px;
}

.pink-dot {
  color: #035959;
}
