/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/*===============================================*/
/* 01. GENERAL			 						 */
/*===============================================*/

body {
  font-family: "Arvo", serif;
  color: #6a6a6a;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #035959;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h4,
h5,
h6 .h4,
.h5,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1,
.h1 {
  font-size: 40px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 20px;
}

h4,
.h4 {
  font-size: 16px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #333333;
}

h1.inline,
h2.inline,
h3.inline,
h4.inline,
h5.inline,
h6.inline {
  display: inline;
  vertical-align: middle;
}

p {
  font-family: "Arvo", serif;
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 25px;
}

p.lead {
  font-size: 19px;
  line-height: 28px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #6a6a6a;
}

a:hover {
  text-decoration: none;
}

.clearboth {
  clear: both;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

img.fullwidth {
  width: 100%;
}

img.with-border {
  border: 1px solid #6a6a6a;
}

/* ----------------------------------------------*/
/* 07.1	Page Layout								 */
/* ----------------------------------------------*/
#content {
  position: relative;
  background-color: #f6f6f6;
}

/* ----------------------------------------------*/
/* 07.2 PAGE ELEMENT	 	 					 */
/* ----------------------------------------------*/

/* 07.2.1 Page Title Wrapper					 */
/* ----------------------------------------------*/
.page-title {
  padding-bottom: 50px;
}

/* 07.2.2 Section Title Wrapper					 */
/* ----------------------------------------------*/
.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 40px; /*same size with h1*/
}

/* 07.2.4 Title-Excerpt White Box				 */
/* ----------------------------------------------*/
.title-excerpt{
	position:relative;
	background-color:#FFF; 
	padding:25px;
}

.title-excerpt .custom-heart-icon{
	position:absolute;
	margin: auto; 
	left:0; 
	right:0; 
	top:-12px;
	color:#035959 !important; 
	background-color:#e1dddd !important;
}

/* 07.2.5 Blurb Wrapper							 */
/* ----------------------------------------------*/
.blurb {
  margin-top: 20px;
}

/* 07.2.6  Align Middle Wrapper					 */
/* ----------------------------------------------*/
.alignment {
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
}

.v-align {
  display: table-cell;
}

.center-middle {
  vertical-align: middle;
  text-align: center;
}

.center-top {
  vertical-align: top;
  text-align: center;
}

.center-bottom {
  vertical-align: bottom;
  text-align: center;
}
.responsive {
  max-width: 100%;
  height: auto;
}


/* 07.2.7 IMAGE & VIDEO DIVIDER					 */
/* ----------------------------------------------*/
.divider-wrapper{
	padding:130px 0;
}

.image-divider {
	position:relative;
	background-size:cover;
	-webkit-background-size:cover;
	background-attachment: scroll;
	background-position:center center;
	background-repeat:no-repeat;
	color:#FFF;
	-webkit-backface-visibility: hidden;	
}

.image-divider.mobile{
	background-attachment:scroll;
}

.video-divider {
	position:relative;
	color:#FFF;
	z-index:3;
}

.image-divider h1, .image-divider h2,
.image-divider h3, .image-divider h4,
.image-divider h5, .image-divider h6,
.video-divider h1, .video-divider h2,
.video-divider h3, .video-divider h4,
.video-divider h5, .video-divider h6 {
	color:#FFF;
}


.image-divider .divider-overlay,
.video-divider .divider-overlay{
	position:absolute; 
	top:0; 
	display:block; 
	width:100%; 
	height:100%; 
	background-color:#000; 
	opacity:0.3
}

.image-divider.auto-height,
.video-divider.auto-height {
	height:100%;
	width:100%;
	padding:150px 0;
}

.image-divider.fixed-height,
.video-divider.fixed-height {
	height:700px;
	width:100%;
	padding:0;
}

/* 07.2.8 SPACE AND LINE DIVIDER 				 */
/* ----------------------------------------------*/
.space-divider{
	display:block;
	height:150px
}


hr.line-divider{
	height:2px;
	border:none;
	color:#e1dddd;
	background-color:#e1dddd; 
	margin:50px 0
}



/* 07.2.10 BUTTON					 			 */
/* ----------------------------------------------*/
de-button, span.de-button, input[type=submit]{
	display:inline-block; 	
	margin:0 auto; 
	margin-top:20px; 
	background-color:#FFF; 
	font-family: 'Oswald', sans-serif; 	
	border:solid 1px #6a6a6a
}

a.de-button.outline, span.de-button.outline, input[type=submit].outline{
	background-color:transparent; 
	border:solid 1px #FFF;
	color:#FFF;
}

a.de-button.reverse, span.de-button.reverse, input[type=submit].reverse{
	background-color:#035959; 
	border:solid 1px #035959;
	color:#FFF;
}

.de-button.small, span.de-button.small, input[type=submit].small{
	padding:8px 26px; 
	font-size:14px; 
}

.de-button.medium, span.de-button.medium, input[type=submit].medium{
	padding:10px 50px; 
	font-size:16px; 
}

.de-button.large, span.de-button.large, input[type=submit].large{
	padding:14px 70px; 
	font-size:20px; 
}

.de-button:hover, input[type=submit]:hover{
	background-color:#035959;
	border-color:#035959;
	color:#FFF;
	text-decoration:none;
}

.de-button.reverse:hover, input[type=submit].reverse:hover{
	background-color:#FFF;
	border-color:#FFF;
	color:#6a6a6a;
	text-decoration:none;
	border:solid 1px #6a6a6a
}

input[type=submit]:disabled, input[type=submit]:hover:disabled{
   background-color:#CCC !important;
   border:solid 1px #CCC !important;
   color:#FFF !important;;
}

/* 07.2.11 Banner Text				 			 */
/* ----------------------------------------------*/
.banner-text {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.banner-text.small {
  padding: 2px 30px;
}

.banner-text.medium {
  padding: 2px 50px;
}

.banner-text.large {
  padding: 2px 70px;
}

.banner-text.full {
  width: 100%;
}

.banner-text.light {
  color: #fff;
  border-top: medium double #fff;
  border-bottom: medium double #fff;
}

.banner-text.light * {
  color: #fff;
}

.banner-text.dark {
  color: #6a6a6a;
  border-top: medium double #6a6a6a;
  border-bottom: medium double #6a6a6a;
}

.banner-text.dark * {
  color: #333333;
}

.banner-text.withlove {
  position: relative;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.banner-text.withlove:before {
  display: block;
  font-family: "fontello";
  position: absolute;
  font-size: 22px;
  color: #fff;
  content: "\e806";
  top: -17px;
  left: 0;
  right: 0;
  margin-left: 19px;
}

.banner-text.withlove.dark:before {
  color: #e1dddd;
}

.banner-text.withlove:after {
  display: block;
  font-family: "fontello";
  position: absolute;
  font-size: 22px;
  color: #f0394d;
  content: "\e806";
  top: -17px;
  left: 0;
  right: 0;
  margin-right: 19px;
}


/* BOOTSTRAP */
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.text-center {
  text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  /* .col-md-6, */
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11
  .col-md-12 
  {
    float: left;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 29%;
}
}


#counting-down{
	text-align:center; 
	color:#FFF; 
	font-family: 'Pacifico';
	-ms-transform: rotate(-10deg); 
	-webkit-transform: rotate(-10deg); 
	transform: rotate(-10deg);
	padding-right:30px;
	margin-top:0px;
	margin-bottom:25px;
}

#countdown {
	padding: 16px 0;
	color: #fff;
  }
  
  #countdownLi {
	display: inline-block;
	font-size: 1.5em;
	list-style-type: none;
	padding: 1em;
	text-transform: uppercase;
  }
  
  #countdownLi span {
	display: block;
	font-size: 4.5rem;
  }
  
  @media all and (max-width: 768px) {
	#countdownLi {
	  font-size: calc(1.125rem * var(--smaller));
	}
  
	#countdownLi span {
	  font-size: calc(3.375rem * var(--smaller));
	}
  }
  