/* ----------------------------------------------*/
/* 12.2 Location & Countdown Section			 */
/* ----------------------------------------------*/
#location-countdown .image-divider.auto-height {
  padding: 60px 0;
  display: 'block';
  min-height: 425px;
}

#counting-down{
	text-align:center; 
	color:#FFF; 
	font-family: 'Pacifico';
	-ms-transform: rotate(-10deg); 
	-webkit-transform: rotate(-10deg); 
	transform: rotate(-10deg);
	padding-right:30px;
	margin-top:0px;
	margin-bottom:25px;
}


#counting {
  font-size: 55px;
  line-height: 45px;
}

#down {
  font-size: 50px;
  line-height: 50px;
}

.simple-countdown{
	width:250px; 
	margin:0 auto; 
	margin-top:25px
}

.simple-countdown.is-countdown {
	border: none;
	background-color:transparent;
	color:#FFF;
	font-family: 'Oswald', sans-serif; 
	font-size:13px;
}

.simple-countdown .countdown-amount {
	display:inline-block;
	font-size:18px;
	letter-spacing:2px;
}
.simple-countdown .countdown-period {
    display:inline-block;
	font-size:18px;
}